{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-sm-2">

    <ul class="docs-nav">
        <!-- Dummy FAQS -->
        <li><a href="{% url 'hc-faqs' %}">What Specifically does healthchecks do for me?</a></li>
        <li><a href="{% url 'hc-faqs' %}#free">Is healthchecks free?</a></li>
        <li><a href="{% url 'hc-faqs' %}#team_access">How does team access work on healthchecks?</a></li>
        <li><a href="{% url 'hc-faqs' %}#pings">What does it mean to ping?</a></li>
        <li><a href="{% url 'hc-faqs' %}#notifications">How do I manage my notifications on healthchecks?</a></li>
    </ul>
    </div>
    <div class="col-sm-10">
        {% block faqs_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
