{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}My Checks - healthchecks.io{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1>My Blog Posts</h1>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
{% endcompress %}
{% endblock %}