{% extends "front/base_faqs.html" %}
{% load staticfiles %}

{% block title %}FAQs - healthchecks.io{% endblock %}

{% block faqs_content %}

<h2>Frequently Asked Questions</h2>
<p>
Everyday, we receive a bunch of questions regarding our services via emails or chat forums. It's our pleasure to provide the best experience for our users and therefore, we have addressed most of the recurring issues here. 
</p>
<p>Feel free to contact us if you did not find your issue resolved.</p>

{% for qna in qnas %}
 <a name="{{ qna.question }}"></a>
 <h3>{{ qna.question }}</h3>
 <p>
     {{ qna.answer }}
 </p>
 {% endfor %}

{% endblock %}
